<div id="chat" class="page-layout carded fullwidth inner-scroll">
  <div class="top-bg accent"></div>
  <div class="center">
    <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
      <form name="form" [formGroup]="TemplateCreationFormGroup">
        <mat-card class="m-12 p-12" style="border-radius: 10px;">
          <mat-card-header>
            <mat-card-title class="my-4 boldClass">
              Create Template
            </mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <div fxLayout class="mt-8">
              <div fxFlex="40" fxLayout="column">
                <div fxFlex fxLayout>
                  <div class="labelClass" fxFlex="30" fxLayoutAlign="end start">Template Type </div>
                  <mat-form-field appearance="outline" fxFlex="70" class="mx-12">
                    <mat-select style="min-width: 150px" matInput formControlName="TemplateType">
                      <mat-option *ngFor="let temp of AllTemplates" [value]="temp.TemplateType">
                        {{temp.TemplateType}}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="TemplateCreationFormGroup.get('TemplateType').touched &&  TemplateCreationFormGroup.get('TemplateType').hasError('required')">
                      Template type is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex fxLayout>
                  <div class="labelClass" fxFlex="30" fxLayoutAlign="end start">Template Upload </div>
                  <div fxFlex="25" class="mx-12">
                    <button class="accent uploadBtn" mat-raised-button (click)="fileInput1.click()">
                      Browse
                    </button>
                    <input hidden type="file" accept="application/pdf" #fileInput1 id="file"
                      (change)="handleFileInput($event)" />
                  </div>
                  <div fxFlex="45" fxLayoutAlign="start start" class="mt-8">
                    {{fileToUpload?fileToUpload.name:'No file chosen'}}</div>
                </div>
              </div>
              <div fxFlex="60" fxLayout>
                <div class="labelClass ml-24" fxLayoutAlign="start">Description </div>
                <mat-form-field appearance="outline" fxFlex class="mx-12">
                  <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="5" placeholder="Description"
                    formControlName="Description" required></textarea>
                  <mat-error
                    *ngIf="TemplateCreationFormGroup.get('Description').touched && TemplateCreationFormGroup.get('Description').hasError('required')">
                    Description is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="borderTop mx-48"></div>
            <div fxLayout class="mt-8">
              <div fxFlex="40" fxLayout>
                <div class="labelClass" fxFlex="30" fxLayoutAlign="end start">Entity</div>
                <mat-form-field appearance="outline" fxFlex="70" class="mx-12">
                  <input matInput formControlName="Entity">
                  <mat-error
                    *ngIf="TemplateCreationFormGroup.get('Entity').touched &&  TemplateCreationFormGroup.get('Entity').hasError('required')">
                    Entity is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="40" fxLayout>
                <div class="labelClass ml-24 mr-32" fxLayoutAlign="start">Group</div>
                <mat-form-field appearance="outline" fxFlex class="mx-12">
                  <mat-select style="min-width: 150px" matInput formControlName="Group">
                    <mat-option *ngFor="let temp of AllGroups" [value]="temp.GroupName">
                      {{temp.GroupName}}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="TemplateCreationFormGroup.get('Group').touched &&  TemplateCreationFormGroup.get('Group').hasError('required')">
                    Group is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="20" fxLayoutAlign="center start">
                <button class="submitBtn mt-4" mat-raised-button (click)="SubmitClicked()">
                  Submit
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="m-12 p-0" style="border-radius: 10px;">
          <div fxLayout>
            <div fxFlex="50" class="borderRightClass role-side-bar">
              <div fxLayout="column" class="pl-12 py-12">
                <div fxFlex class="boldClass">Template overview</div>
                <div class="borderTop ml-24 my-8"></div>
                <div fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto" class="mr-12">
                  <iframe *ngIf="FileData" style="width:100%;min-height:33vh;" [src]="FileData"></iframe>
                </div>
              </div>
            </div>
            <div fxFlex="49.9" class="role-side-bar">
              <div class="sidenav-content" fusePerfectScrollbar fxFlex>
                <mat-card class="p-0 m-20 mat-elevation-z8">
                  <div fxLayout="row" class="pt-8">
                    <div fxFlex class="boldClass pl-12">Parameter mapping</div>
                    <div fxFlex align="end">
                      <img class="pr-8 borderRightClass" matTooltip="Add" (click)="AddParameterItem()"
                        src="assets/images/plus.png">
                      <img class="pl-8 pr-16" matTooltip="Remove" (click)="RemoveParameterItem()"
                        src="assets/images/remove.png">
                    </div>
                  </div>
                  <div fxLayout="row" class="borderTop mt-4"></div>
                  <table *ngIf="ParameterItemDataSource?.value?.length" mat-table
                    [dataSource]="ParameterItemDataSource" class="mat-elevation-z8" formArrayName="ParameterItems">
                    <tr mat-header-row *matHeaderRowDef="ParameterItemColumns; sticky: true">
                    </tr>
                    <tr mat-row *matRowDef="let row;let i = index; columns: ParameterItemColumns;"></tr>

                    <ng-container matColumnDef="Variable">
                      <th mat-header-cell *matHeaderCellDef class="boldItalicClass"> Variable </th>
                      <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                        <input matInput formControlName="Variable">
                        <span class="pl-4 errorClass"
                          *ngIf="TemplateCreationFormGroup.get('ParameterItems').controls[index].get('Variable').touched &&
                  TemplateCreationFormGroup.get('ParameterItems').controls[index].get('Variable').hasError('required')">
                          *
                        </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="DataType">
                      <th mat-header-cell *matHeaderCellDef class="boldItalicClass"> DataType </th>
                      <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index" class="pl-8">
                        <input matInput formControlName="DataType">
                        <span class="pl-4 errorClass"
                          *ngIf="TemplateCreationFormGroup.get('ParameterItems').controls[index].get('DataType').touched &&
                      TemplateCreationFormGroup.get('ParameterItems').controls[index].get('DataType').hasError('required')">
                          *
                        </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="DefaultValue">
                      <th mat-header-cell *matHeaderCellDef class="boldItalicClass"> Default Value </th>
                      <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index" class="pl-8">
                        <input matInput formControlName="DefaultValue">
                        <span class="pl-4 errorClass"
                          *ngIf="TemplateCreationFormGroup.get('ParameterItems').controls[index].get('DefaultValue').touched &&
                  TemplateCreationFormGroup.get('ParameterItems').controls[index].get('DefaultValue').hasError('required')">
                          *
                        </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Description">
                      <th mat-header-cell *matHeaderCellDef class="boldItalicClass"> Description </th>
                      <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                        <input matInput formControlName="Description">
                        <span class="pl-4 errorClass"
                          *ngIf="TemplateCreationFormGroup.get('ParameterItems').controls[index].get('Description').touched &&
                    TemplateCreationFormGroup.get('ParameterItems').controls[index].get('Description').hasError('required')">
                          *
                        </span>
                      </td>
                    </ng-container>

                  </table>

                </mat-card>
              </div>
            </div>
            <div fxFlex="0.1">
              <div style="min-height:40vh !important;"></div>
            </div>
          </div>
        </mat-card>
      </form>
    </div>
  </div>
</div>