<div id="chat" class="page-layout carded fullwidth inner-scroll">
  <div class="top-bg accent"></div>
  <div class="center">
    <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
      <mat-card class="m-12 p-0" style="height: 72vh;border-radius: 10px" fxLayout="column">
        <div class="h2 pl-24 my-12 successColor">SIGNED DOCUMENTS</div>
        <div class="mat-elevation-z8 my-12 mx-12 normal" fxFlex>
          <table mat-table [dataSource]="SignDocumentsDataSource" matSort style="width:100%">

            <ng-container matColumnDef="DocName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Document name </th>
              <td mat-cell *matCellDef="let row"> {{row.DocName}} </td>
            </ng-container>

            <ng-container matColumnDef="DocType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Document type </th>
              <td mat-cell *matCellDef="let row"> {{row.DocType}} </td>
            </ng-container>

            <ng-container matColumnDef="FileType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> File type </th>
              <td mat-cell *matCellDef="let row"> {{row.FileType}} </td>
            </ng-container>

            <ng-container matColumnDef="NoOfApprover">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> No. Of Approver </th>
              <td mat-cell *matCellDef="let row"> {{row.NoOfApprover}} </td>
            </ng-container>

            <ng-container matColumnDef="LastApprover">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Approver </th>
              <td mat-cell *matCellDef="let row"> {{row.LastApprover}} </td>
            </ng-container>

            <ng-container matColumnDef="LastApproverComment">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Comment </th>
              <td mat-cell *matCellDef="let row"> {{row.LastApproverComment}} </td>
            </ng-container>

            <ng-container matColumnDef="LastApprovedOn">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Approved On </th>
              <td mat-cell *matCellDef="let row"> {{row.LastApprovedOn | date}} </td>
            </ng-container>

            <ng-container matColumnDef="CreatedOn">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
              <td mat-cell *matCellDef="let row"> {{row.CreatedOn | date}} </td>
            </ng-container>

            <ng-container matColumnDef="View">
              <th mat-header-cell *matHeaderCellDef> View </th>
              <td mat-cell *matCellDef="let row">
                <mat-icon aria-label="image" (click)="ViewPdfFromID(row.DOCID)">image</mat-icon>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="SignDocumentsColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: SignDocumentsColumns;">
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </mat-card>
    </div>
    <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="ProgressBarPostion1" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="IsProgressBarVisibile"></div>
  </div>
</div>